@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-context-theme-color: #ffffff;
  --site-context-highlight-color: #1c69d4;
  --site-context-focus-color: #0653b6;
  --site-context-metainfo-color: #757575;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--site-context-theme-color);
  color: #262626;
}

/* Enforce sharp corners globally per BMW design */
* {
  border-radius: 0 !important;
}
